.profilePainel {
  display: flex;
  flex-direction: row;
  background-color: var(--on-primary);
  border-radius: 10px;
}

.profileLayout {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1.5em;
}

.profileFormButton {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}
