.classesListTitle {
  margin-bottom: var(--spacing-4);
  margin-top: 1em;
	font-size: clamp(1.4rem, 3vw, 2rem);
}

.classesList {
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  border-radius: 12px;
  gap: 1em;
  box-shadow: 0 4px 12px rgba(108, 71, 31, 0.06);
}

.classCard {
  display: flex;
  flex-direction: column;
  gap: 0.35em;
  padding: 0.7em 1em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
}

.classesList .classCard:first-child {
  margin-top: var(--spacing-4);
}

.classesList .classCard:last-child {
  margin-bottom: var(--spacing-4);
}

.classCardTitle {
  font-size: large;
  font-weight: 500;
}

.classesListControls {
  display: flex;
  gap: 1em;
  justify-content: right;
}

.classesListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
