.teacherDashboardClassCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--spacing-4);
  box-shadow: var(--box-shadow);
  border-radius: 1em;
  gap: var(--spacing-2);
  text-decoration: none;
}

.teacherDashboardClassCardTitle {
  margin: 0;
}

.teacherDashboardClassCardDescription,
.teacherDashboardClassCardStudents {
  margin: 0;
}
